@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3e9ba2;
  --secondary: #10b981;

  --primary-accent: #358a90;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;
  
  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}

/* Code-specific styling */
.code-block {
  @apply bg-gray-800 text-gray-100 rounded-md p-4 overflow-x-auto font-mono;
}

.tag {
  @apply bg-blue-100 text-blue-800 px-2 py-1 rounded-md text-sm font-medium mr-2;
}